<!DOCTYPE html>
<html  class="no-js" lang="en" dir="ltr">>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        {% block stylesheets %}{% endblock %}
        <script src="https://use.fontawesome.com/720a2db289.js"></script>
    </head>
    <body>



        {% block body %}{% endblock %}

        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/what-input.js"></script>
        <script src="js/vendor/foundation.js"></script>
        <script src="js/app.js"></script>

<!--        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->

    </body><
</html>
